/**
 * @file
 * Layout styling
 */
body 
{
 margin: 0;
 padding: 0;
 color: #363636;
 font-family: Arial,Tahoma,Verdana;/*  font-size: 12px; */

 font-size: 73%;
 background-color: #F5F5F5;
 background-image: url('../images/bg-not-front.gif');
 background-repeat: repeat-x;
 background-position: center top;
}

body.with-slideshow 
{
 background-color: #F5F5F5;
 background-image: url('../images/bg-pattern-t.gif');
 background-repeat: repeat-x;
 background-position: center top;
}

body.toolbar-drawer 
{
 background-position: center 65px ! important;
}

/**
 * header
 */
#header 
{
 margin-bottom: 30px;
}

body.with-slideshow #header 
{
 margin-bottom: 0px;
}

#header .section 
{
 width: 940px;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
 height: 100px;
}

#site-logo-and-name 
{
 float: left;
 width: 500px;
}

#site-logo-and-name #logo 
{
 float: left;
}

#site-logo-and-name #name-and-slogan 
{
 float: left;
}

.logo-on-right #site-logo-and-name 
{
 float: right;
 overflow: hidden;
}

.logo-on-right #site-logo-and-name #logo 
{
 float: right;
}

.logo-on-right #site-logo-and-name 
{
 float: right;
}

.with-slogan #header .section 
{
 height: 120px;
}

#name-and-slogan 
{
 margin-top: 30px;
}

#site-name 
{
 margin: 0;
 font-size: 3.3em;
 font-weight: lighter;
 line-height: normal;
 float: left;
}

.logo-on-right #site-name 
{
 float: right;
}

#site-name a 
{
 color: #FFFFFF;
 text-decoration: none;
 font-family: SansationLight;
}

#site-name a:hover 
{
 text-decoration: none;
}

#site-slogan 
{
 clear: both;
 color: #C0C0C0;
 font-size: 12px;
 font-style: italic;
 line-height: 5px;
 margin-left: 0;
}

.region-header 
{
 margin-left: 400px;
 height: 100px;
 line-height: 100px;
 width: 540px;
 z-index: 1000;
}

.logo-on-right .region-header 
{
 float: left;
 margin: 0;
}

/**
 * Banner
 */
#slideshow 
{
 background-color: transparent;
 background-image: url("../images/shadow.png");
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-position: center bottom;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
 overflow: hidden;
 padding-bottom: 50px;
 position: relative;
 width: 940px;
 height: 250px;
}

#slideshow h2.block-title 
{
 display: none;
}

#slideshow p 
{
 margin: 0;
}

#slider 
{
 height: 400px;
 width: 940px;
}

/**
 * Hightlight
 */
#highlight 
{
 width: 800px;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
 padding-top: 20px;
 padding-right: 0;
 padding-bottom: 20px;
 padding-left: 0;
}

#highlight h1, #highlight h2 
{
 border-color: #CCCCCC;
 border-style: dashed;
 border-top-width: 1px;
 border-right-width: 0;
 border-bottom-width: 1px;
 border-left-width: 0;
 font-family: DroidSerifItalic;
 font-size: 1.8em;
 font-weight: normal;
 padding-top: 5px;
 padding-right: 0;
 padding-bottom: 5px;
 padding-left: 0;
 text-align: center;
}

/**
 * Page wrapper
 */
#page-wrapper 
{
 width: 940px;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
 clear: both;
}

#main 
{
 padding-top: 30px;
 padding-right: 0;
 padding-bottom: 50px;
 padding-left: 0;
}

body.with-slideshow #main 
{
 padding:0px;
 margin-top:-40px;
}


body.with-slideshow table.views-table {
 font-size:.9em;
}


/**
 * Sidebar
 */
.with-sidebar #main 
{
 
}

.with-sidebar #content 
{
 float: left;
 width: 600px;
}

.with-sidebar #sidebar 
{
 margin-left: 680px;
}

/**
 * Footer
 */
#footer 
{
 background-color: #0B0D12;
 background-image: url('../images/bg-pattern.gif');
 background-repeat: no-repeat;
 background-position: center top;
 clear: both;
 margin-top: 50px;
}

#footer .section 
{
 width: 940px;
 padding-top: 30px;
 padding-right: 0;
 padding-bottom: 30px;
 padding-left: 0;
 overflow: hidden;
 color: #5C5D5E;
 font-size: .9em;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
}

/**
 * maintenance-page
 */
.maintenance-page #site-logo-and-name 
{
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
 text-align: center;
 width: auto;
 float: none;
}

.maintenance-page #content 
{
 border-color: #CCCCCC;
 border-style: dashed;
 border-top-width: 1px;
 border-right-width: 0;
 border-bottom-width: 1px;
 border-left-width: 0;
 font-family: DroidSerifItalic;
 font-size: 1.8em;
 line-height: 30px;
 margin-top: 50px;
 margin-right: auto;
 margin-bottom: 50px;
 margin-left: auto;
 overflow: hidden;
 padding-top: 10px;
 padding-right: 0;
 padding-bottom: 10px;
 padding-left: 0;
 text-align: center;
}

.dati 
{
 width: 250px;
 height: 250px;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
}

.dati h2 
{
 border-color: #CCCCCC;
 border-style: dashed;
 border-top-width: 1px;
 border-right-width: 0;
 border-bottom-width: 1px;
 border-left-width: 0;
 font-family: DroidSerifItalic;
 font-size: 1.8em;
 font-weight: normal;
 padding-top: 5px;
 padding-right: 0;
 padding-bottom: 5px;
 padding-left: 0;
 text-align: center;
 color: #ab2525;
}

#banner_footer 
{
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;
}

#banner_footer h2 
{
 color: #FFFFFF;
 font-size: 22px;
 font-weight: normal;
 text-align: left;
}

/*td.od-download a{

	  padding-left:30px;
	  height:50px;
	  border:1px solid red;
	  margin-left:-20px;
	  margin-bottom:26px;
}*/
/**/
ul.download-file 
{
 list-style: none ! important;
 margin-left: -22px;
}

ul.download-file li a 
{
 background-image: url('../images/icona_download.png');
 background-repeat: no-repeat;
 padding-left: 50px;
 padding-top: 14px;
 height: 38px;/*	  border:1px solid red;*/

 margin-left: -20px;
 margin-bottom: 26px;
 display: block;

}

ul.download-file span.detail 
{
 font-style: italic;
 display: block;
 font-size: .9em;
}

/*th.views-field, td.views-field {
	text-align: center;
}

.tagclouds-term	{
	font-size:1.2em;
}
*/
.tabella-tagcloud table.views-table td, .tabella-tutti-dati table.views-table td
{
 padding-top: 10px;
 padding-right: 4px;
 padding-bottom: 10px;
 padding-left: 4px;
}

/*
.content .field-item a	{
	color:#0000ff;
}
*/

.tabella-tutti-dati	{
margin-bottom:30px;
}

.tabella-tutti-dati a	{
color: #0000ff;
}

table.views-table a	{
color: #0000ff;
}

body.with-slideshow table.views-table a	{
color: #000;
}


/*table.views-table	{
	margin-bottom:30px;
}*/
#block-system-main 
{
 margin-bottom: -20px;/*	border:1px solid red;*/
}

/*.views-field img	{
	float:left;
	margin-right: 8px;
}

.content	{
	margin-bottom: 30px;
}*/
/*	prove lingua	*/
ul.language-switcher-locale-session 
{
 list-style: none;
 position: relative;
 top: 2px;
 margin-left: 440px;
 left: 8px;
}

ul.language-switcher-locale-session li 
{
 display: block;
 position: absolute;
}

ul.language-switcher-locale-session li a 
{
 width: 20px;/*border:1px solid red;*/
}

ul.language-switcher-locale-session li.en 
{
 position: absolute;
 left: 16px;
}

ul.language-switcher-locale-session li.it 
{
 position: absolute;
 left: 36px;
}

/* prove news */
.views-row 
{
 border-bottom: dashed#ab2525;
 border-bottom-width: 1px;
 padding-bottom: 14px;
}

.views-field h3 
{
 font-family: arial, helvetica, sans-serif;
 margin-bottom: 2px;
 font-size: 1.2em;
}

h2.field-content a 
{
 color: #0000ff;
}

/*
.panel-pane h2.pane-title 
{

 font-family: SansationLight;
 font-size: 1.7em;
 line-height: 1.4em;
 margin-top: 0;
 margin-bottom: 15px;
 color: #ab2525;
}
*/

.search-result a {
color:#0000ff;
}


.block-home-link {
    width: 250px;
    float:left;
    margin:0px 25px;
}

.dati .pane-content {
    float:left;
}

.hidden-block {
    display:none;
}