.pane-plain-box-temporary-dac10c2036b3ba8d82af16b8462472c8 {
  margin-bottom: 10px;
  color: #000000;
  background-color: ;
}

.pane-plain-box-temporary-dac10c2036b3ba8d82af16b8462472c8 h2 {
  color: #000000;
  background-color: ;
}

.pane-plain-box-temporary-dac10c2036b3ba8d82af16b8462472c8 .pane-title {
  font-weight: bold;
}
